<div class="container row mb-3 bg-light mw-100">
  <p class="h3 text-start col-sm ps-5 pt-3">micro reddit</p>

  <form class="col-sm pt-3">
    <input class="form-control rounded-pill" type="text" placeholder="Search">
  </form>

  <ul class="nav col-sm justify-content-end">
    <li class="nav-item">
      <%# if user_signed_in? %>
      <%#  destroy_user_seassion_path, method: :delete, %>
        <%= link_to "Profile", "#", class: "btn btn-primary text-white rounded-pill px-5 m-3" %>
        <%= link_to "Sign Out", "#", class: "btn btn-outline-primary rounded-pill px-5 m-3" %>
      <%# else %>
        <%# link_to "Sign Up", class: "btn btn-link p-1" %>
        <%# link_to "Log In", class: "btn btn-link btn-primary p-1" %>
      <%# end %>
    </li>
  </ul>
</div>
